/* Some initial state using Josh W Comeau reset (see: https://www.joshwcomeau.com/css/custom-css-reset/) */

/* 1. Use a more-intuitive box-sizing model. */
*, *::before, *::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

/* 3. Allow percentage-based heights in the application */
/* Disabled due to swallowing margin-bottom at end of page */
/* html, body {
    height: 100%;
} */

/*
 * Typographic tweaks!
 * 4. Add accessible line-height
 * 5. Improve text rendering
 */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 7. Remove built-in form typography styles */
input, button, textarea, select {
    font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* End Josh W Comeau reset */

/* General Varaibles */
:root {
    /* Gaps are specified in px rather than rem to keep padding & margins fixed size when default font size is increased. */
    --gap-eighth:           2px;
    --gap-qtr:              4px;
    --gap-three-eighths:    6px;
    --gap-half:             8px;
    --gap:                  16px; /* Equivalent to 1rem if default font is 16px */
    --gap-2:                32px;

    --code-font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

/* Palette */
:root {
    --fg-color: black;
    --bg-color: white;
    --text-opacity: 100%;
    --soft-border-color: #dfdfdf;
    --hard-border-color: #afafaf;
    --link-color: #0070f3;
    /*
     * Colour values replaced by those from a11y-light Prism theme:
     * https://github.com/ericwbailey/a11y-syntax-highlighting
     */
    --code-fg-color: #545454;
    --code-bg-color: #f5f5f5;
    --code-comment: #696969;
    --code-punctuation: #545454;
    --code-property: #007299;
    --code-number: #008000;
    --code-string: #aa5d00;
    --code-operator: #008000;
    --code-function: #aa5d00;
    --code-keyword: #d91e18;
    --code-regex: #d91e18;
}
@media (prefers-color-scheme:dark) {
    :root {
        --fg-color: #dcdcdc;
        --bg-color: #121212;
        --text-opacity: 87%;
        --soft-border-color: #5f5f5f;
        --hard-border-color: #bfbfbf;
        --link-color: #1086ff;
        /*
         * Colour values replaced by those from a11y-dark Prism theme:
         * https://github.com/ericwbailey/a11y-syntax-highlighting
         */
        --code-fg-color: #f8f8f2;
        --code-bg-color: #2b2b2b;
        --code-comment: #d4d0ab;
        --code-punctuation: #fefefe;
        --code-property: #ffa07a;
        --code-number: #00e0e0;
        --code-string: #abe338;
        --code-operator: #00e0e0;
        --code-function: #ffd700;
        --code-keyword: #00e0e0;
        --code-regex: #ffd700;
    }
}

/* Font management */

html {
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue",Arial,Roboto,Oxygen,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}
body {
    font-size: 1.125rem;
}
header,
footer {
    font-size: 1.125rem;
}
h1,
h2 {
    font-weight: 400;
    font-size: 1.5625rem;
    line-height: 1.375;
    border-bottom: 1px solid var(--fg-color);
}

code {
    font-size: 0.875rem;
}

/* General */

html,
input,
button {
    color: var(--fg-color);
    background-color: var(--bg-color);
}

main {
    margin: 0 auto;
    padding: 0 var(--gap);
    max-width: 52ch;
}

h1, h2, h3, h4, h5, h6 {
    margin: var(--gap-2) 0 var(--gap);
    scroll-margin-top: var(--gap);
}
p, ul, ol, dl {
    margin: var(--gap) 0;
}
h1 > svg {
    display: inline;
}

pre {
    margin: var(--gap-half) 0;
}

a {
    color: var(--link-color);
    text-decoration: none;
}
a:hover,
a:focus,
a:active {
    text-decoration: underline;
}

code {
    padding: var(--gap-three-eighths) var(--gap-half);
    white-space: nowrap;
}

pre > code {
    display: block;
    white-space: pre;
}

input {
    border: 1px solid var(--hard-border-color);
    border-radius: 8px;
    padding-left: var(--gap-half);
    padding-right: var(--gap-half);
}
input:disabled,
button:disabled {
    opacity: 0.5;
}
button {
    box-shadow: 0 0 12px -4px var(--hard-border-color);
    border: 1px solid var(--hard-border-color);
    border-radius: 8px;
    padding: 0.25em 0.75em;
    margin-left: var(--gap-qtr);
    margin-right: var(--gap-qtr);
}
button:enabled:hover,
button:enabled:focus-visible {
    -webkit-text-stroke-width: 0.03ex;
}
button:active {
    box-shadow: 0 0 12px -7px var(--hard-border-color);
    -webkit-text-stroke-width: unset !important;
}

  
/**
 * Prism theme, adapted from:
 * https://unpkg.com/browse/prismjs@1.29.0/themes/prism-okaidia.css
 *
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

 code[class*="language-"],
 pre[class*="language-"] {
     color: var(--code-fg-color);
     font-family: var(--code-font-family);
     text-align: left;
     word-spacing: normal;
     word-break: normal;
     word-wrap: normal;
     line-height: 1.5;
 
     -moz-tab-size: 4;
     -o-tab-size: 4;
     tab-size: 4;
 
     -webkit-hyphens: none;
     -moz-hyphens: none;
     -ms-hyphens: none;
     hyphens: none;
 }
 
 /* Code blocks */
 pre[class*="language-"] {
     overflow: auto;
 }
 
 :not(pre) > code[class*="language-"],
 pre[class*="language-"] {
     background: var(--code-bg-color);
 }
 
 /* Inline code */
 :not(pre) > code[class*="language-"] {
     white-space: normal;
 }
 
 .token.comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
     color: var(--code-comment);
 }
 
 .token.punctuation {
     color: var(--code-punctuation);
 }
 
 .token.namespace {
     opacity: .7;
 }
 
 .token.property,
 .token.tag,
 .token.constant,
 .token.symbol,
 .token.deleted {
     color: var(--code-property);
 }
 
 .token.boolean,
 .token.number {
     color: var(--code-number);
 }
 
 .token.selector,
 .token.attr-name,
 .token.string,
 .token.char,
 .token.builtin,
 .token.inserted {
     color: var(--code-string);
 }
 
 .token.operator,
 .token.entity,
 .token.url,
 .language-css .token.string,
 .style .token.string,
 .token.variable {
     color: var(--code-operator);
 }
 
 .token.atrule,
 .token.attr-value,
 .token.function,
 .token.class-name {
     color: var(--code-function);
 }
 
 .token.keyword {
     color: var(--code-keyword);
 }
 
 .token.regex,
 .token.important {
     color: var(--code-regex);
 }
 
 .token.important,
 .token.bold {
     font-weight: bold;
 }
 .token.italic {
     font-style: italic;
 }
 
 .token.entity {
     cursor: help;
 }
